{% extends "base.html" %}
{% load static %}
{% block body %}

    <style>
        body{
            background: #ededed;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <form action="" method="POST">
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">投稿</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}