{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}
{% block body %}

    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-10 mx-auto p-4" style="background: #fdfdfd;">
                <h2 class="pb-4">{{ Article.get_title }}</h2>
                <div class="pb-4">
                    <a href="#" style="color:#333333;text-decoration:none;">
                        <div class="d-flex align-items-center">
                            <img src="{% static Article.get_user_icon_path %}" alt="" width="40px" height="40px" class="mr-2">
                            <p>{{ Article.get_user_name }}</p>
                        </div>
                    </a>
                    <div class="float-right">
                             {% if Article.get_user == user %}
                             <a class="btn btn-primary mb-3" href="{% url 'rarestudy:article/edit' Article.pk %}">編集</a>
                             {% endif %}
                    </div>
                    <p class="small text-secondary">{{ Article.get_created_at }}</p>
                </div>
                <p>{{ Article.get_body | markdown | safe }}</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="RareStudyにて新しいアウトプットが投稿されました。" data-lang="ja" data-count="none" data-hashtags="RareTECH,RareStudy">Tweet Button</a>
            </div>
            <div class="col-lg-10 mx-auto">
                {% if Article.get_comments %}
                    {% for Comment in Article.get_comments %}
                        <div class="card my-4">
                            <div class="card-body mx-3">
                                <div class="d-flex align-items-center">
                                    <img src="{% static Comment.get_user_icon_path %}" alt="" width="40px" height="40px" class="mr-2">
                                    <p>{{ Comment.get_user_name }}</p>
                                </div>
                                <div class="float-right">
                                    {% if Comment.get_user == user %}
                                    <a href="{% url 'rarestudy:comment/edit' Comment.pk %}" class="btn btn-primary mb-3">編集</a>
                                    {% endif %}                            
                                </div>
                                <p class="small text-secondary">{{ Comment.get_created_at }}</p>
                                <p>{{ Comment.get_body | markdown | safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'rarestudy:comment/add' Article.pk %}" class="btn btn-primary mb-3">
                    <i class="far fa-comment-dots"></i>
                    コメントする
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}