{% extends "base.html" %}
{% load static %}
{% block body %}

    <div class="container"> 
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <form action="" method="POST">
                    {{ form.media }}
                    <p>{{ form.title }}</p>
                    <p>{{ form.body }}</p>
                        {% csrf_token %}
                        <p><button type="submit">更新</button></p>
                    </from>
                </form>
            </div>
        </div>
    </div>

{% endblock %}