{% extends "registration/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="box2">
                <h5 class="card-title text-center">プロフィール</h5>
                <div class="d-flex align-items-center">
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row">名前</th>
                                <td><img src="{% static user.get_icon_path %}" alt="" width="40px" height="40px" class="mr-2">{{ user.get_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">称号</th>
                                <td>{{user.get_degree}}</td>
                            </tr>
                            <tr>
                                <th scope="row">自己紹介</th>
                                <td>{{user.get_bio}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
            <h5 class="text-left">&lt;記事一覧&gt;</h5>
            {% for Article in Articles %}
            <a href="{% url 'rarestudy:article/detail' Article.get_id %}" style="color:#333333;text-decoration:none;">
                <div class="card my-4">
                    <div class="card-body mx-3">
                        <p style="font-size:20px;">{{ Article.get_title }}</p>
                        <p class="small text-secondary">{{ Article.get_created_at }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="py-4">
    {% include "pagenate.html" %}
</div>
{% endblock %}